<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Guess 4 numbers. Enter them separated with spaces:</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="numbers"/>
        <input type="submit" value="Send"/>

    </form>
    <h2>{{result}}</h2>
    <a href="history">Посмотреть истории</a>
</body>
</html>